.post-container{
  width: 600px;
  padding: 50px;
  background: #2a67ff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.form-container{
  width: 60%;
  margin: auto;
}
