<div class="post-container">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [resizeToHeight]="800"
      [resizeToWidth]="800"
      [backgroundColor]="bColor"
      format="jpeg"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()"
      *ngIf="picture"
    ></image-cropper>
    <img *ngIf="picture" [src]="picture" id="cropped-image"/>
    <input type="file" accept="image/*"  (change)="fileChangeEvent($event)" id="styledUpload" hidden/>
    <label for="styledUpload" class="styledUploadButton">Datei auswählen</label>
    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Bildbeschreibung</mat-label>
      <label>
        <input matInput placeholder="Bildbeschreibung" [(ngModel)]="description">
      </label>
    </mat-form-field>
  <mat-form-field appearance="fill" class="form-container">
    <mat-label>Hashtag</mat-label>
    <label>
      <input matInput placeholder="Hashtag" [(ngModel)]="hashtags">
    </label>
  </mat-form-field>
    <button *ngIf="picture" mat-raised-button  (click)="addPost()">Post</button>
</div>
