.home-container{
  padding-top: 50px;
  padding-bottom: 200px;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
#welcome-header{
  position: relative;
  display: flex;
  background: #4A2FFF;
  height: 400px;
  text-align: center;
  align-items: center;
}
