.pnf-head-container{
  width: 100%;
  text-align: center;
  background: #4A2FFF;
  min-height: 15vw;
  justify-content: center;
  vertical-align: center;
  padding-bottom: 2vw;
}
.pnf-title{
  color: white;
  padding: 4vw;
  word-wrap: anywhere;
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 6rem;
}
.pnf-button{
  font-size: 2rem;
  word-wrap: break-word;
  min-width: fit-content;
  text-align: center;
}
