<div id="userprofile-container">
  <mat-toolbar id="userprofile-header">
    <img id="userprofile-profile-picture" src="assets/Bild2.png">
    <div id="userprofile-header-data">
      <span id="userprofile-header-username">Kappathic</span>
      <div></div>
      <button mat-raised-button *ngIf="!isFollowed" (click)="isFollowed = !isFollowed" style="width: 50%"> Follow </button>
      <button mat-raised-button *ngIf="isFollowed" (click)="isFollowed = !isFollowed" style="background: #4A2FFF; width: 50%"> Unfollow </button>
      <span class="userprofile-header-attr"> 17 posts</span>
      <span class="userprofile-header-attr"> 1.684 follower</span>
      <span class="userprofile-header-attr"> 45 subscriptions</span>
    </div>
  </mat-toolbar>
  <div id="userprofile-main-content">
    <div class="spacer" ></div>
    <div id="userprofile-main-posts">
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
      <div class="dummy">
        <img class="dummy-pic" src="https://source.unsplash.com/random/300x300">
      </div>
    </div>
  </div>
</div>
