<div class="page-container">
  <div class="page-header">
    <h1 class="big-heading">{{this.username}}'s profile</h1>
  </div>
  <div id="userprofile-container">
    <mat-toolbar id="userprofile-header">
      <img id="userprofile-profile-picture" [src]="profilePic">
      <div id="userprofile-header-data">
        <span id="userprofile-header-username">{{this.username}}</span>
        <div></div>
        <button mat-raised-button *ngIf="!isFollowed && !ownProfile" (click)="followUser(this.userId)" style="width: 50%"> Follow </button>
        <button mat-raised-button *ngIf="isFollowed && !ownProfile" (click)="unfollowUser(this.userId)" style="background: #4A2FFF; width: 50%"> Unfollow </button>
        <button mat-raised-button *ngIf="ownProfile"  style="background: #4A2FFF; width: 50%" routerLink="/settings/{{this.username}}" routerLinkActive="active"> Profile Settings </button>
        <span class="userprofile-header-attr"> {{this.postCount}} posts</span>
        <span class="userprofile-header-attr"> {{this.followerCount}} follower</span>
      </div>
    </mat-toolbar>
    <div id="userprofile-biography-container">
      <span id="userprofile-biography" >{{biography}}</span>
    </div>
    <div id="userprofile-main-content">
      <div class="spacer" ></div>
      <div id="userprofile-main-posts">
        <div class="post-container" *ngFor="let post of this.userPosts">
          <img class="post-item" [src]="convertPostItem(post.image)" alt="a Picture on the User's profile.">
            <div class="post-overlay-text">
              <div id="post-overlay-description">{{post.description}}</div>
              <div id="post-overlay-hashtags" *ngFor="let tag of post.hashtags">{{tag}}</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
