<div id="post-container">
  <div id="post-header">
    <mat-toolbar id="post-header-toolbar">
      <a href="/profile/{{username}}" style="margin: 0;">
        <div id="post-profile-picture-container">
          <img src="assets/Bild2.png" id="post-profile-picture">
        </div>
      </a>
      <a id="post-username" href="/profile/{{username}}">Kappathic</a>
      <div id="post-meta-information">
        <div class="post-meta-content">
          <mat-icon aria-label="Like-Post" class="post-meta-icon" color="primary">favorite</mat-icon>
          <span> 13.458 </span>
          <mat-icon aria-label="Like-Post" class="post-meta-icon" color="primary">question_answer</mat-icon>
          <span> 948 </span>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div id="post-content" (dblclick)="isLiked = !isLiked">
    <img [src]="postImage" style="width: 800px; height: 800px;">
  </div>
  <div id="post-footer">
    <mat-toolbar id="post-footer-toolbar">
      <mat-icon aria-label="Like-Post" *ngIf="isLiked" (click)="changeLike()" color="primary">favorite</mat-icon>
      <mat-icon aria-label="Like-Post" *ngIf="!isLiked" (click)="changeLike()" color="primary">favorite_border</mat-icon>
      <mat-icon aria-label="Like-Post" color="primary" >question_answer</mat-icon>
      <div>
        <span style="color: #2A67FF;">{{postDescription}}</span>
        <span *ngFor="let hashtag of hashtags" style="color: #56CCF2; font-size: 1.2rem;">{{hashtag}}</span>
      </div>
    </mat-toolbar>
  </div>
  <div id="post-comment-section">
    <div>
      <span *ngFor="let comment of comments" style="color: #56CCF2; font-size: 1.2rem;">{{comment}}</span>
    </div>
    <mat-form-field id="post-comment-section-add">
      <mat-label>Leave a comment</mat-label>
      <input matInput placeholder="I really like your post!" [(ngModel)]="newComment" (keydown.enter)="saveComment()">
    </mat-form-field>
  </div>
</div>
