<div class="page-container">
  <div class="page-header">
    <h1 class="big-heading">Registration</h1>
  </div>
  <div class="register-container">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [resizeToHeight]="800"
      [resizeToWidth]="800"
      [cropperMinWidth]="200"
      [cropperMinHeight]="200"
      [backgroundColor]="bColor"
      format="jpeg"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()"
      *ngIf="picture"
    ></image-cropper>
    <img *ngIf="picture" [src]="picture" id="cropped-image"/>
    <input type="file" accept="image/*"  (change)="fileChangeEvent($event)" id="styledUpload" hidden/>
    <button mat-raised-button style="margin-bottom: 20px; margin-top: 20px;"><label for="styledUpload" style="cursor:pointer; height: 100%; width: 100%;">Datei auswählen</label></button>
    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Username</mat-label>
      <label>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </label>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-container">
      <mat-label>E-Mail</mat-label>
      <label>
        <input matInput type="text" placeholder="Deine Mailadresse" [(ngModel)]="email">
      </label>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Bio</mat-label>
      <label>
        <input matInput type="text" placeholder="Deine Biographie" [(ngModel)]="bio">
      </label>
    </mat-form-field>


    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Passwort</mat-label>
      <label>
        <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="password">
      </label>
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-container">
      <mat-label>Passwort wiederholen</mat-label>
      <label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="confirmPassword">
      </label>
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="register-button" (click)="registerUser()">Register</button>
  </div>
</div>

