<div class="page-title-container" id="PageHead">
  <img src="assets/Logo_Solo_bright.svg" id="header-logo">
  <img src="assets/navbar_title.svg" id="header-title">
</div>
<div id="navbar" class="navbar-container" [ngClass]="{'mat-elevation-z6' : true}">
  <img src="assets/Logo_Head_Sub.svg" id="navbar-logo">
  <div class="navbar-flex">
    <button mat-raised-button class="navbar-button" routerLink="/home" routerLinkActive="active">
      Home
    </button>
    <button mat-raised-button class="navbar-button" routerLink="/add-post" routerLinkActive="active">
      Add Post
    </button>
    <button mat-raised-button class="navbar-button" routerLink="/profile" routerLinkActive="active">
      Profile
    </button>
    <button mat-raised-button class="navbar-button" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">
      Login
    </button>
  </div>
  <button mat-raised-button class="navbar-button" routerLink="/home" routerLinkActive="active" (click)="submitLogout()" *ngIf="isLoggedIn">
    Logout
  </button>
</div>


