.page-title-container{
  height: 300px;
  width: 100%;
  background: #2A67FF;
  color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  letter-spacing: 3rem;
  margin-right: -3rem;
}
.navbar-container{
  display: grid;
  height: 100px;
  grid-template-columns: 20% 60% 20%;
  background: #2A67FF;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
#header-logo{
  align-self: center;
  height: 70px;
  width: 230px;
}
.navbar-flex{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-button{
  min-width: fit-content;
  text-align: center;
}
