.page-title-container{
  height: 300px;
  width: 100%;
  background: #2A67FF;
  color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  letter-spacing: 3rem;
  margin-right: -3rem;
}
#header-logo{
  width: 10%;
  margin-right: 1%;
}
#header-title{
  width: 35%;
}
.navbar-container{
  display: grid;
  height: 100px;
  grid-template-columns: 20% 50% 20%;
  background: #2A67FF;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
#navbar-logo{
  align-self: center;
  height: 70px;
  width: 230px;
}
.navbar-flex{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-button{
  min-width: fit-content;
  max-width: 100px;
  max-height: 50px;
  text-align: center;
}
#searchBar{
  width: 100%;
  min-height: 100%;
  display: block;
}
#searchBox{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
#searchBar-results-list{
  position: absolute;
  width: 300px;
  background: #2a67ff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.searchBar-results-item{
  display: flex;
  height: 4em!important;
  flex-direction: column;
  align-items: center;
}
.searchBar-Pic{
  width: 3em;
  height: 3em;
  border-radius: 25%;
  box-shadow:
    0 0 0 3px #2A67FF;
}

