<div class="page-title-container" id="PageHead">
  <img src="assets/Logo_Solo_bright.svg" id="header-logo">
  <img src="assets/navbar_title.svg" id="header-title">
</div>
<div id="navbar" class="navbar-container" [ngClass]="{'mat-elevation-z6' : true}">
  <img src="assets/Logo_Head_Sub.svg" id="navbar-logo">
  <div class="navbar-flex">
    <button mat-raised-button class="navbar-button" routerLink="/home" routerLinkActive="active">
      Home
    </button>
    <ng-container *ngIf="isLoggedIn">
      <button mat-raised-button class="navbar-button" routerLink="/add-post" routerLinkActive="active">
        Add Post
      </button>
      <button mat-raised-button class="navbar-button" routerLink="/profile/{{currentUserName}}" routerLinkActive="active">
        Profile
      </button>
      <button mat-raised-button class="navbar-button" (click)="submitLogout()">
        Logout
      </button>
    </ng-container>
    <button mat-raised-button class="navbar-button" routerLink="/login" routerLinkActive="active"  *ngIf="!isLoggedIn">
      Login
    </button>
  </div>
  <div class="searchBar" *ngIf="isLoggedIn">
    <div id="searchBox">
      <button mat-icon-button (click)="submitSearch()">
      <mat-icon style="color: white">{{'search'}}</mat-icon>
      </button>
      <mat-form-field aria-autocomplete="none">
        <mat-label>Search for Users</mat-label>
        <input type="text" matInput placeholder="Search a user..." [(ngModel)]="searchToken" (ngModelChange)="submitSearch()">
      </mat-form-field>
    </div>
    <mat-nav-list *ngIf="this.filteredUsers.length > 0" id="searchBar-results-list">
      <a mat-list-item *ngFor="let user of filteredUsers" class="searchBar-results-item" href="/profile/{{user.username}}">
        <img [src]="this.b64toImg.convert(user.profilePic)" alt="PP" class="searchBar-Pic">
        <span class="searchBar-link" >{{user.username}}</span>
      </a>
    </mat-nav-list>
  </div>
</div>


