  <p><strong>Impressum</strong></p>
  <p>Anbieter:
    <br/>
    Gregor Bertram & Jiklas Nahn
    <br/>
    Christopher-Street-Street 420
    <br/>
    1337 Acceptancehausen
  </p>
  <p>Kontakt:
    <br/>Telefon: 0711/1234567-8
    <br/>Telefax: 0711/1234567-9
    <br/>
    E-Mail: inf19207@lehre.dhbw-stuttgart.de
    <br/>
    Website: www.localhost.de</p>
  <p> </p>

  <p>Bei redaktionellen Inhalten:</p>
  <p>Verantwortlich nach § 55 Abs.2 RStV
    <br/>
    Michael Wendler
    <br/>
    Lausmuellerweg 2
    <br/>
    31415 Flachland
  </p>
